page-view {
    text-align: center;
    font-family: Gill San MT;
}
.h2{
    font-size: 20px;
    color: aliceblue;
}
.bg{
    background-image: url('../../assets/imgs/breyer-thank-you.jpg');
    background-size: center;
}
.p{
    color: aliceblue;
    font-size: 14px;
}
// ion-label {
//     text-align: center;
// }
