page-booking {
    text-align: center;
    font-family:  Gill Sans MT;
}
.bg{
    background-color: transparent;
    background-color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=50);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.book{
    background-image: url('../../assets/imgs/');
    background-size: cover;
    
}

