page-home {
    text-align: center;
    font-family: Gill Sans;

h1{
    text-align: center;
    padding-top: 70px;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    font-weight: lighter;
}
h2{
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    font-weight: lighter;
}
.button-inner {
    top: 350%;  
    width: 190px;
    border-radius: 18px;
}
.bgr{
    background-image: url('../../assets/imgs/Hotel-Negresco-Nice-France.jpg');
    background-size: cover; 
//   background-color: transparent;
//   background-color: #ffffff;
//   filter: alpha(opacity=50);
//   background: rgba(107, 106, 106, 0.5);
}
}
