page-chalet1 {
    font-family: Gill Sans MT;
}
.everything{
    text-align: center;
}
.bg{
    background-color: transparent;
    background-color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=50);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.toolbar-ios {
    min-height: 70px;
}
.Slide{
    width: 100%;
    height: 35vh;
    background-size: cover;
}
.btn1{
    top: 5px;
}
ion-app.ios [padding] .scroll-content {
    padding: 1px;

}
.para{
    left: 1px;
    text-align: center
}
.head{
    float: left;
}
